 * {
    box-sizing: border-box;
 }
body {
    background-image: url(../images/alpine-clouds-daylight-462149.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Patrick Hand', cursive;
    color:white;
    text-align: center;
    font-size: 25px;

}

.jumbotron{
    background: none;
    padding: 0;
}
button{
    margin: 3px;

}

img {
    height: 200px;
    width: 200px;
    
}
.gif{
    float: left;
    margin: 2px;
}



